{% extends 'base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="nav">
            <a href="{{ path('index') }}">Home</a>
            <a href="{{ path('dice_index') }}">Dice 21</a>
            <a href="{{ path('yatzy_index') }}">Yatzy</a>
        </div>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}